<!-- nfts.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>NFTs</title>
  <style>
    .nft-card {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .nft-item {
      width: 300px;
      margin: 20px;
      padding: 10px;
      background-color: #f1f1f1;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    .nft-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 5px;
    }

    .nft-name {
      font-weight: bold;
      margin-top: 10px;
    }

    .nft-description {
      margin-top: 5px;
    }

    .nft-price {
      margin-top: 10px;
      font-size: 18px;
    }
    .nft-purchace-btn{
      background: #45a049;
      padding: 8px 12px;
      border: none;
      border-radius: 8px;
      color: white;
      cursor: pointer;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
  <%-include ('../partials/navbar.ejs')-%>
  <h1>NFTs</h1>
  <div class="nft-card">
    <% nfts.forEach(nft => { %>
      <div class="nft-item">
        <img class="nft-image" src="/<%= nft.image %>" alt="<%= nft.name %>">
        <h2 class="nft-name"><%= nft.name %></h2>
        <p class="nft-description"><%= nft.description %></p>
        <p class="nft-price">Price: <%= nft.price %></p>
        <p class="nft-owner">Owned By: <%= nft.owner.name %></p>
        <a class="nft-purchace-btn" href='/api/v1/nft/checkout?nftid=<%= nft._id %>' >Checkout</a>
      </div>
    <% }) %>
  </div>
</body>
</html>
