<!-- nfts.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>NFTs</title>
  <style>

  </style>
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
  <%-include ('../partials/navbar.ejs')-%>
  <h1>NFTs</h1>
  <div class="nft-card">
    <% nfts.forEach(nft => { %>
      <div class="nft-item">
        <img class="nft-image" src="/<%= nft.image %>" alt="<%= nft.name %>">
        <h2 class="nft-name"><%= nft.name %></h2>
        <p class="nft-description"><%= nft.description %></p>
        <p class="nft-price">Price: <%= nft.price %></p>
        <p class="nft-owner">Owned By: <%= nft.owner.name %></p>
        <a class="nft-purchace-btn" href='/api/v1/nft/checkout?nftid=<%= nft._id %>' >Checkout</a>
      </div>
    <% }) %>
  </div>
</body>
</html>
